.file-select-button {
    display:block;
    margin: 0 auto;
    margin-top:15px;
 }
 .file-name {
    text-align: center;
    margin: auto;

 }
 .snack-bar-container.snack-yellow {
   background-color:rgb(247, 243, 27) !important;
}

::ng-deep  .snackBar-atention {
   color: #000000 !important;
   background-color: #FACA27 !important;
}