.file-select-button {
    display:block;
    margin: 0 auto;
    margin-top:15px;
 }
 .file-name {
    text-align: center;
    margin: auto;

 }
 .snack-warning{
background-color: #FACA27 !important;
 }