<div class="mat-card-form-center">
    <mat-card>
      <mat-card-title>Producto</mat-card-title>
      <mat-card-subtitle>Agregar producto</mat-card-subtitle>
      <mat-card-content>
        <div class="row">
          <div class="col-sm-2">
            <mat-form-field  appearance="standard">
              <mat-label>Marca</mat-label>
              <input matInput #inputMarca maxlength="30">
              <mat-hint align="end">{{inputMarca.value?.length || 0}}/30</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-form-field  appearance="standard">
              <mat-label>Nombre</mat-label>
              <input matInput #inputNombre [(ngModel)]="nombreProducto" maxlength="30" >
              <mat-hint align="end">{{inputNombre.value?.length||0}}/30</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field  appearance="standard" style="width:280px !important">
              <mat-label>Descripción</mat-label>
              <input matInput #inputDesc maxlength="50">
              <mat-hint align="end">{{inputDesc.value?.length || 0}}/50</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-form-field  appearance="standard">
              <mat-label>Código</mat-label>
              <input matInput #inputCod maxlength="100">
              <mat-hint align="end">{{inputCod.value?.length || 0}}/100</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-3">

            <app-upload-file></app-upload-file>

          </div>
        </div>
        
      </mat-card-content>
      

      <mat-card-actions>
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="basic" (click)="cleanInputs()">Limpiar</button>
      </mat-card-actions>
    </mat-card>
  </div>
