<div class="container">
    <input type="file" style="display: none;" #fileInput accept="image/*" (click)="fileInput.value = null" value=""(change)="onChangeFileInput()" />
      <button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
        <mat-icon>attach_file</mat-icon>
        Seleccionar
      </button>
      <div> 
      <span>
      <p class="file-name" *ngIf="!file; else fileName">Seleccione una imágen</p>
      <ng-template #fileName>
        <p class="file-name" >{{ file?.name }}</p>
      </ng-template>
    </span>
    </div>
    </div>